/*css reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Variables declared to be used */

:root{
    --clr-text:#1D1A0C;
    --clr-headings:#D8A941;
    --clr-sec:#FDE7C8;
    --clr-hover:#FFFFFF;
    --clr-bg:#654813;

    --text-font:arial 25px;
    --text-headings: 'Oswald', sans-serif; 
}


html{
    font-family: var(--text-font);
    color:var(--clr-text);
    min-width:360px;
    
    
}

body{
    margin:0;
    padding:0;
}

img{
    display:block;
    width:100%;
}
button{
    border-radius: 25px;
}

/*Typography*/
h1,h2,p{
    margin:0;
}

p{
    margin-bottom: 0.85em;;
}




h1,h2{
    font-family: var(--text-headings);
    line-height:0.8;
    
}

h2{
    font-size: 4rem;
}



/*Navigation*/
/*Doinf desktop first, hence the mobile nav is hidden*/

.mobile-nav{
    display:none;
}

.header{
    width:100%;
}

nav ul{
    display:flex;  
    list-style: none;
    margin:0;
    padding:0;
    justify-content:space-around;
    background-color:var(--clr-bg) ;
}

nav a{
    display: inline-block;
    padding: 0.5em;
    color:var(--clr-sec);
    text-decoration: none;
    
}

nav a:hover,
nav a:focus{
    color: var(--clr-hover);
}

.logo{
    display: block;
    margin: auto;
    
}

.desktop-nav li{
    padding-top: 1rem;
}

.desktop-nav{
    display: flex;
    
}

.desktop-nav ul{
    width:100%;
    padding:2rem 1rem 1rem 1rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content:space-between;
    
}
.toggle-button{
    display:none;  /*Hiding the hamburger icon*/
}


.link {
    font-size: 25px;
    padding:1em 2.5em;
   
}

.link a{
    font-size: 45px;
    color:var(--clr-headings);
}
.mission{
    display: flex;
    flex-direction: row;
    border-top: 1px solid black;
    
    
}


.mission-pic{
    flex-basis: 50%; /*two containers taking 50% of the available space within the parent container*/
}


.mission-para{
    flex-basis: 50%;
}

.mission >div {
    padding:1rem;
}

.mission h1{
    color:#D8A941;
    font-size: 30px;
    font-family: var(--text-headings); /*variable used*/
    
}

.mission p{
    font-family: var(--text-font);
    font-size: 16px;
    padding:1em 2.5em;
}




@media only screen and (max-width: 740px){
    .mission-para span{   /*Hiding some extra lorem ipsum below 740px*/
        display: none;
    }
}

.container{
    display:flex;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    margin-left: 0.2rem;
    
}

.container > div{
    padding: 1rem;
    margin-right: 0.5rem;
}

.shop {
   flex-basis:33%;
   border: 1px solid black;
   
}

.events {
    flex-basis:33%;
    border: 1px solid black;
 }

 .faqs {
    flex-basis:33%;
    border: 1px solid black;
 }

 .container img {
    height: 200px;
    overflow-y: hidden;
    margin-bottom: 1rem;
 }

 .container button{
     background-color: var(--clr-bg);
     color: var(--clr-sec);
     margin-left: 33%;
     margin-right: 33%;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    padding-left: 1rem;
    padding-right: 1rem;
   
 }

 .top-to{
     display:none;
 }

 .bottom{
     display:flex;
     background-color: var(--clr-bg);
     justify-content: space-between;
     padding-top:1rem;
     padding-bottom:1rem ;
     
 }

 .copyright{
     color: var(--clr-sec);
     display: flex;
     justify-content: flex-start;
     padding-left:1rem;
 }

 .footer-social{
    display: flex;
    justify-content:flex-end;
    padding-right: 1rem;
    

  
    
    
 }
 .footer-social ul{
     display: flex;
     flex-direction: row;
     
 }

 .footer-social li{
     padding-right: 1rem;
 }

 




 
 .footer-social a{
     color: var(--clr-sec);
     text-decoration: none;
    
     display: flex;
     
 }

 .footer{
     background-color: #dff1ff;
     display: flex;
     justify-content: space-between;
     padding:1rem;
     margin-top:1rem;
 }

 .footer a{
     text-decoration: none; /*removes underline form anchor tags*/
 }

 .footer-nav li{
     padding-top:1rem;
 }

 .footer-address li{
     padding-top:1rem;
 }

/*media query for screen sizes below 600px*/
 @media only screen and (max-width: 600px) {
    .mobile-nav{
        display: flex;
        flex-direction: column; /*making nav bar for mobile vertical*/
        justify-content: space-between;
        align-items: flex-start;
        background-color:var(--clr-bg);
        color:var(--clr-sec);
        width: 100%;
        
      }
      
      .nav-links{
          width:100%;/*making the li within bleed throughout */
          
      }
      
      .nav-links ul{
          margin:0;
          padding:0;
          display: flex;
          flex-direction: column;
          width:100%;
      
      }
      
      .nav-links li{
          list-style: none;
          text-align: center;
          
          
      
      }
      
      .nav-links li a{
          text-decoration: none;
          display:block;
          padding:1rem;
          color:#FDE7C8;
          
      }
      
      .nav-links li:hover{
          background-color: #8a682a;
          
      }
      
      .nav-links a:active{
          display:flex; 
          
      }
      
      .mobile-logo{ /*Svg */
        margin: 0.5rem;
        width:100%;   
      }

      .color a {
          background-color:#999;

      }
      
    
      .toggle-button{
          position:absolute;
          top:1.5rem;
          right:1rem;
          display:flex; 
          flex-direction: column;/*stacking spans on top of each other*/
          justify-content: space-between;
          width:30px;
          height:21px;
      
      }
      
      
      
      .toggle-button .bar {
         height:3px;
         width:100%;
         background-color:var(--clr-sec);
         border-radius:10px;
         
      }
      
      .desktop-nav{
          display:none; /*hides destkop nav*/
      }
      
      .social {
          display:flex;
          width:100%;
          padding-top:1rem;
          
      
      }
      
      .social {
         /* flex-direction: row;
          justify-content:center;
          align-items:center;
          background-color:var(--clr-bg);
          color:var(--clr-sec);
          width:100%;
          margin-bottom:1rem;
          margin-left:4.5rem;
          text-decoration: none;*/
          display: flex;
      
      }
      
      .social ul{
          display: flex;
          flex-direction: row;
          justify-content: center;
      }
      
      .social a:hover{
          color:var(--clr-hover);
      }
      
      
      
      /*Hompage styles */
      
      .header{
          width:100%;
      }
      
      .link {
      
          padding:1em 2.5em;
          font-size: var(--text-font);
      }
      .link a{
          color:var(--clr-headings);
          font-size: var(--text-headings);
          font-family:var(--text-headings);
          
          
      }

      .mission{
          display: block;
      }
      
    
      
      
      .mission-para h1{
          color:#D8A941;
          font-size: 30px;
          font-family: var(--text-headings);
          padding-left:1.25em;
      }
      
      .mission p{
          font-family: var(--text-font);
          font-size: 16px;
          padding:1em 2.5em;
      }
      
      
      .container{
          display:flex;
          flex-direction: column;
      }

      .container{
        display:flex;
        
        
       
        flex-direction: column;
        padding:1rem;
        
    }
    
    .container > div{
        padding: 0;
        margin-right: 0;
    }
    
    .shop {
       flex-basis:100%;
       border: 1px solid black;
       
    }
    
    .events {
        flex-basis:auto;
        border: 1px solid black;;
     }
    
     .faqs {
        flex-basis:auto;
        border: 1px solid black;
     }
    
     .container img {
        height: 500px;
        overflow-y:auto;
        margin-bottom: 1rem;
     }
    

       
     
      
      .container button {
          background-color:var(--clr-bg);
          color:var(--clr-sec);
          width:150px;
          height: 45px;
          font-size:25px;
          margin:0;
          margin-bottom: 1rem;
          
      
          
      }
      
      
      .footer-address{
          display:none;
          
      }
      
      
      
    
      .footer{
          display: flex;
          flex-direction:row;
          background-color: var(--clr-bg);
          justify-content: space-between;
          padding-bottom:1rem;
      }
      
      .footer-address{
          display:none;
      }

      .top-to{
          display: block; /*top to button*/
          
          
      }
      
      .topbutton{
          border:1px solid var(--clr-sec);
          background-color:var(--clr-bg);
          height: 40px;
          width: 25px;
          font-size: 30px;
          border-radius: 0px;
          margin-top:1em;
          margin-right:1em;
          
          display: flex;
          padding-left:0.7rem;
          padding-top: 0;
          
          
          
          
      }
      
      .top-to a{
          color:var(--clr-sec);
          transition: 0.8s;
          
        
          
      }
      .top-to  a:hover{
          color:var(--clr-text);
         

          
      }
      .top-to button:hover{
        transition: 0.8s;
        background-color:var(--clr-sec);
        transform:scale(0.8);/*button size reduces to 0.8 when hovered*/
      }
      
      
      
      .footer-nav ul{
          display:flex;
          list-style: none;
          margin:0;
          padding:0;
          justify-content:flex-start;
          background-color:var(--clr-bg);
          margin-top:1em;
          
          
      }
      
      
      .footer-nav a{
         
          padding: 0.5em;
          color:var(--clr-sec);
          text-decoration: none;
          display: inline-block;
          
      
      
          
      }
      .hide {
          display:none;
      }
      
      
      
      .copyright {
          display:none; 
      }
      
      
      
      
      .footer-social{
          display:none;
      }
      
 }


 /*Contact Page */
 @font-face {
    font-family: "Edwardian Script ITC"; /*edwardian font linked here*/
    src: url(http://www.microsoft.com/typography/fonts/font.aspx?FMID=990);
}
 h1,h2{
     color:var(--clr-headings);
     font-family: "Edwardian Script ITC";
     font-size: 3rem;
     text-align: center;
     margin-top: 1.5rem;
     margin-bottom: 3rem;
 }

 form {
    /* Center the form on the page */
    margin: 0 auto;
    width: 500px;
    /* Form outline */
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
    background-color: rgb(240, 238, 236);
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  form li + li {
    margin-top: 1em;
  }
  
  label {
    /* Uniform size & alignment */
    display: inline-block;
    width: 90px;
    text-align: right;
  }
  
  input,
  textarea {

    /* Uniform text field size */
    width: 400px;
    box-sizing: border-box;
    border-radius: 20px;
  
    /* Match form field borders */
    border: 1px solid #999;
  }
  
  input:focus,
  textarea:focus {
    /* Additional highlight for focused elements */
    border-color: #000;
  }
  
  #text {
    /* Align multiline text fields with their labels */
    vertical-align: top;
  
    /* Provide space to type some text */
    height: 15em;
  }
  
  .button {
    /* Align buttons with the text fields */
     /* same size as the label elements */
    display: flex;
    justify-content: flex-end;
    
  }
  button{
    background-color: var(--clr-bg);
    color: var(--clr-sec);
    padding: 0.5rem;
  }
 
h2{
    text-align: left;
    padding: 1em;
    margin-bottom:1rem;
}
.maps{
   display: flex;
   justify-content: center;
}

::placeholder{
    font-size:0.8rem;
    padding-left: 0.5em;
}

.maps {
    margin-right:2rem;
    margin-left: 2rem;
}



@media only screen and (max-width: 600px){
      
  input,
  textarea {

    
    width: 200px; /*text are width changes as screen size reduces*/
    
   
  }
  form {
    
    
    width: 350px;
   

}
  
}

/*FAQS Page */


.bg {  /*BG image used*/
    background: center/cover url("/images/faq-3200.jpg") no-repeat;
  
    
}


.bg h1{
    margin:0;
    padding:15rem 0 15rem 0;
    font-size: 70px;
}

.card {
    background-color:#E6E6E6;
    border: 1px solid rgb(51, 47, 47);
    color: rgb(48, 44, 44);
    padding: 1rem;
    height: auto;
    margin: 1rem;
  }
  
  .cards {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-gap: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .cards { 
      grid-template-columns: repeat(2, 1fr); 
    } /*2 columns for screen sizes above 600px*/

    h3{
        color: var(--clr-headings);
        font-weight: bold;
    }

    .color a{
        color: #FFFFFF;  /*Changes color of faq anchor to show which page are you in */
    }
  
  /* Screen smalller than 600px? 1 column */
  @media only screen and (max-width: 600px) {
    .cards { grid-template-columns: repeat(1, 1fr);
     }

     .bg {
        background-image: url("/images/faq-320.jpg");
        width:100%;
        margin: 0;
        padding: 0;
        
        background-repeat: no-repeat;
      
        
    }
    
    
    .bg h1{
        margin:0;
        padding:10rem 0 10rem 0;
        font-size: 40px;
    }
  }

  .linktoo{
      margin-left: 1rem;
  }
  
  
 /* CSS Animation */
.desktop-nav a:active{ 
    animation:shah 0.2s infinite alternate;

}

@keyframes shah {
    0%{
        transform: translateY(0);
    }

    50%{
        transform: translateY(-5px);
        color: #654813;
    }

    100%{
        transform: translateY(0);
    }
}
 .desktop-nav ul a:hover{
     transform:scale(0.9);
     color:var(--clr-headings);
     transition:0.8s;
    
     border: solid 0.5px var(--clr-sec);


 }


  