/*css reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root{
    --clr-text:#1D1A0C;
    --clr-headings:#D8A941;
    --clr-sec:#FDE7C8;
    --clr-hover:#FFFFFF;
    --clr-bg:#654813;

    --text-font:arial 25px;
    --text-headings: 'Oswald', sans-serif; 
}


html{
    font-family: var(--text-font);
    color:var(--clr-text);
    min-width:360px;
    
    
}

body{
    margin:0;
    padding:0;
}

img{
    display:block;
    width:100%;
}
button{
    border-radius: 25px;
}

/*Typography*/
h1,h2,p{
    margin:0;
}

p{
    margin-bottom: 0.85em;;
}




h1,h2{
    font-family: var(--text-headings);
    line-height:0.8;
    
}

h2{
    font-size: 4rem;
}



/*Navigation*/


.mobile-nav{
    display:none;
}

.header{
    width:100%;
}

nav ul{
    display:flex;  
    list-style: none;
    margin:0;
    padding:0;
    justify-content:space-around;
    background-color:var(--clr-bg) ;
}

nav a{
    display: inline-block;
    padding: 0.5em;
    color:var(--clr-sec);
    text-decoration: none;
    
}

nav a:hover,
nav a:focus{
    color: var(--clr-hover);
}

.logo{
    width:32px;
    height:28px;
}

.desktop-nav{
    display: flex;
    
}

.desktop-nav ul{
    width:100%;
    padding:2rem 1rem 1rem 1rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content:space-between;
    
}
.toggle-button{
    display:none;
}

.desktop-nav img{
    display: flex;
    align-items: center;
    margin-top: 0;
    padding-top: 0;
    width:100%;
    
}

.link {
    font-size: 25px;
    padding:1em 2.5em;
   
}

.link a{
    font-size: 45px;
    color:var(--clr-headings);
}
.mission{
    display: flex;
    flex-direction: row;
    border-top: 1px solid black;
    
}

.mission >div {
    padding:1rem;
}

.mission h1{
    color:#D8A941;
    font-size: 30px;
    font-family: var(--text-headings);
    padding-left:1.25em;
}

.mission p{
    font-family: var(--text-font);
    font-size: 16px;
    padding:1em 2.5em;
}

.container{
    display:flex;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    margin-left: 0.2rem;
    
}

.container > div{
    padding: 1rem;
    margin-right: 0.5rem;
}

.shop {
   flex-basis:33%;
   border: 1px solid black;
   
}

.events {
    flex-basis:33%;
    border: 1px solid black;
 }

 .faqs {
    flex-basis:33%;
    border: 1px solid black;
 }

 .container img {
    height: 200px;
    overflow-y: hidden;
    margin-bottom: 1rem;
 }

 .container button{
     background-color: var(--clr-bg);
     color: var(--clr-sec);
     margin-left: 33%;
     margin-right: 33%;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    padding-left: 1rem;
    padding-right: 1rem;
   
 }

 .top-to{
     display:none;
 }

 .bottom{
     display:flex;
     background-color: var(--clr-bg);
     justify-content: space-between;
     padding-top:1rem;
     padding-bottom:1rem ;
     
 }

 .copyright{
     color: var(--clr-sec);
     display: flex;
     justify-content: flex-start;
     padding-left:1rem;
 }

 .footer-social{
    display: flex;
    justify-content:flex-end;
    padding-right: 1rem;
    

  
    
    
 }
 .footer-social ul{
     display: flex;
     flex-direction: row;
     
 }

 .footer-social li{
     padding-right: 1rem;
 }

 




 
 .footer-social a{
     color: var(--clr-sec);
     text-decoration: none;
    
     display: flex;
     
 }

 .footer{
     background-color: #dff1ff;
     display: flex;
     justify-content: space-between;
     padding:1rem;
     margin-top:1rem;
 }

 .footer a{
     text-decoration: none;
 }

 .footer-nav li{
     padding-top:1rem;
 }

 .footer-address li{
     padding-top:1rem;
 }