/*css reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root{
    --clr-text:#1D1A0C;
    --clr-headings:#D8A941;
    --clr-sec:#FDE7C8;
    --clr-hover:#FFFFFF;
    --clr-bg:#654813;

    --text-font:arial 25px;
    --text-headings: 'Oswald', sans-serif; 
}


html{
    font-family: var(--text-font);
    color:var(--clr-text);
    min-width:360px;
    
    
}

body{
    margin:0;
    padding:0;
}

img{
    display:block;
    width:100%;
}
button{
    border-radius: 25px;
}

/*Typography*/
h1,h2,p{
    margin:0;
}

p{
    margin-bottom: 0.85em;;
}




h1,h2{
    font-family: var(--text-headings);
    line-height:0.8;
    
}

h2{
    font-size: 4rem;
}



/*Navigation*/


/*Mobile nav*/



.mobile-nav{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background-color:var(--clr-bg);
  color:var(--clr-sec);
  width: 100%;
  
}

.nav-links{
    width:100%;
    
}

.nav-links ul{
    margin:0;
    padding:0;
    display: flex;
    flex-direction: column;
    width:100%;

}

.nav-links li{
    list-style: none;
    text-align: center;
    
    

}

.nav-links li a{
    text-decoration: none;
    display:block;
    padding:1rem;
    color:#FDE7C8;
    
}

.nav-links li:hover{
    background-color: #8a682a;
}

.nav-links a:active{
    display:flex;
}

.mobile-logo{
  margin: 0.5rem;
  width:100%;   
}

.mobile-logo img{
    width:50px;
    height:50px;
}

.toggle-button{
    position:absolute;
    top:1.5rem;
    right:1rem;
    display:flex;  /*make sure to hide it for destkop */
    flex-direction: column;
    justify-content: space-between;
    width:30px;
    height:21px;

}



.toggle-button .bar {
   height:3px;
   width:100%;
   background-color:var(--clr-sec);
   border-radius:10px;
   
}

.desktop-nav{
    display:none;
}

.social {
    display:flex;
    width:100%;
    padding-top:1rem;
    

}

.social {
   /* flex-direction: row;
    justify-content:center;
    align-items:center;
    background-color:var(--clr-bg);
    color:var(--clr-sec);
    width:100%;
    margin-bottom:1rem;
    margin-left:4.5rem;
    text-decoration: none;*/
    display: flex;

}

.social ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.social a:hover{
    color:var(--clr-hover);
}



/*Hompage styles */

.header{
    width:100%;
}

.link {

    padding:1em 2.5em;
}
.link a{
    color:var(--clr-headings);
}

.mission img {
    /*width: 280px;
    height:230px;
    padding:1em 2.5em; */
}


.mission h1{
    color:#D8A941;
    font-size: 30px;
    font-family: var(--text-headings);
    padding-left:1.25em;
}

.mission p{
    font-family: var(--text-font);
    font-size: 16px;
    padding:1em 2.5em;
}

.container{
    display:flex;
    flex-direction: column;
}

.container button {
    background-color:var(--clr-bg);
    color:var(--clr-sec);
    width:150px;
    height: 45px;
    font-size:25px;
    margin:2em 4em;
    margin-bottom:0.5em;

    
}

.shop img{
    width:280px;
    height:230px;
    padding:1em 2.5em;

}
.events img{
    width:280px;
    height:230px;
    padding:1em 2.5em;
    
}

.faqs img{
    width:280px;
    height:230px;
    padding:1em 2.5em;
    
}

.footer-address{
    display:none;
    
}



.grid-2{
    display:grid;
    grid-template-columns: 80% 20%;
    

   
    background-color: var(--clr-bg);
   
}
.footer{
    display: flex;
    flex-direction:row;
    background-color: var(--clr-bg);
    justify-content: space-between;
    padding-bottom:1rem;
}

.footer-address{
    display:none;
}

.top-to button{
    border-color:1px solid var(--clr-sec);
    background-color:var(--clr-bg);
    height: 40px;
    width: 40px;
    font-size: 30px;
    border-radius: 0px;
    margin-top:1em;
    margin-right:1em;
    display: flex;
    padding-left:0.7rem;
    
    
}

.top-to a{
    color:var(--clr-sec);
    
}
.top-to a:hover{
    color:var(--clr-hover);
    
}



.footer-nav ul{
    display:flex;
    list-style: none;
    margin:0;
    padding:0;
    justify-content:flex-start;
    background-color:var(--clr-bg);
    margin-top:2.2em;
    
    
}


.footer-nav a{
   
    padding: 0.5em;
    color:var(--clr-sec);
    text-decoration: none;
    display: inline-block;
    


    
}
.hide {
    display:none;
}



.copyright {
    display:none;
}




.footer-social{
    display:none;
}


@media (min-width:600px) {


    .mobile-nav{
        display:none;
    }

    nav ul{
        display:flex;  
        list-style: none;
        margin:0;
        padding:0;
        justify-content:space-around;
        background-color:var(--clr-bg) ;
    }
    
    nav a{
        display: inline-block;
        padding: 0.5em;
        color:var(--clr-sec);
        text-decoration: none;
        
    }
    
    nav a:hover,
    nav a:focus{
        color: var(--clr-hover);
    }
    
    .logo{
        width:32px;
        height:28px;
    }
    
    .desktop-nav{
        display: flex;
        
    }

    .desktop-nav ul{
        width:100%;
        padding:2rem 1rem 1rem 1rem;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        display: flex;
        justify-content:space-between;
        
    }
    .toggle-button{
        display:none;
    }

    .desktop-nav img{
        display: flex;
        align-items: center;
        margin-top: 0;
        padding-top: 0;
        width:100%;
        
    }

    .link {
        font-size: 25px;
    }

    .link a{
        font-size: 45px;
    }
    .mission{
        display: flex;
        flex-direction: row;
        
    }

    

    

    .container{
       
      display: flex;
      flex-direction: row;
      justify-content: space-between;
        
    }

    
}